
button {
    padding: 0.5em 1em;
    background-color: var(--grey);
    border-radius: 5px;
    /*border-color: orangered;*/
    border-color: var(--red);
}

.activity-type-button {
    border-radius: 5px;
    font-size: 20px;
    color: #008b8b;
    background-color: var(--white);
}


.sign-up-button:disabled,
.select-button:disabled,
.quantity-button:disabled,
.reservate-button:disabled,
.confirm-mailing-button:disabled {
    background-color: #727575;
}


.day-button,
.account-button,
.startpagina-button,
.manager-button,
.reservate-button,
.confirm-mailing-button,
.buy-book-button,
.sign-up-button,
.login-button,
.logout-button,
.select-button,
.quantity-button,
.toggleButton {
    font-size: 20px;
    background-color: #008b8b;
}

.print-list-button
{
    font-size: 20px;
    background-color: #7a7a7a;
}

.confirm-booking-button {
    color: var(--white);
    background-color: var(--red);
}


button + button {
    margin-left: 2em;
}