
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    /*flex-wrap: wrap;*/
    /*height: 80px;*/
    padding: 10px;
    /*width: 250px;*/
}

.navbar ul {
    display: flex;
    flex-shrink: 1;
    flex-grow: 0;
    list-style-type: none;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    /*flex-basis: 400px;*/
}


/*.navbar li {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: flex-start;*/
/*    !*list-style-type: none;*!*/
/*    !*flex-wrap: wrap;*!*/
/*}*/


.navbar a {
    text-decoration: none;
    color: var(--blue);
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}


p {
    font-size: 20px;
}